@import uk.gov.hmrc.gform.gformbackend.model.{FormId, FormTemplate}
@import uk.gov.hmrc.gform.models.SummaryForRender
@import views.html.helper.CSRF


@(formTemplate: FormTemplate, summary: SummaryForRender, formId: FormId)(implicit request: Request[_], messages: Messages)
<html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title></title>
  <style>
    body { font-family: sans-serif; }
    th {text-align: left;}
    tr:nth-child(even) {background-color: #f2f2f2}
    table {
      border: 1px solid black;
      width: 100%;
    }
  </style>
</head>
<body class="">
@{
  summary.snippets
}
</body>
</html>
